.bdl-card
{
    width: 192px;
    height: 230px;
    margin-top: 5%;
    margin-left: 2%;
}
.card-inner
{
    height: 144px;
    background-color: #fff;
}
.card-inner-top-text
{
	padding: 60px 85px;
	font-weight: bold;
}
.card-inner-bottom
{
	display: flex;
}
.card-icon
{
	padding-left: 100px;
	padding-top: 10px;
}
.card-inner-text
{
	font-weight: bold;
	padding: 10px;
}
a
{
	color: #000;
}
.nav-item
{
	display: inline-block;
	
	text-decoration: none;
}
.nav-content
{
	position: absolute;
	overflow: hidden;
    max-height: 0;
    background-color: #fff;
    color: #000;
}
.nav-content a
{
	color: #fff;
	text-decoration: none;
}
.nav-content a: hover
{
	text-decoration: underline;
}

.nav-sub
{
  width: 80px;
  background-color: #ECECEC;
}
.nav-sub ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.nav-item:focus
{
	background-color: #ECECEC;
}
.nav-item:focus ~ .nav-content
{
	max-height: 100px;
	-webkit-transition:max-height 0.4s ease-in;
	-moz-transition:max-height 0.4s ease-in;
	transition:max-height 0.4s ease-in;
}
.project-img
{
	height: 100%;
	width: 100%;
}
ul
{
	max-width: 100px;
	margin : 0 auto;
}
.menu-list
{
	background-color: #ECECEC;
}
li
{
	padding-left: 20px;
	font-weight: bold;
	margin-top: 15px;
}
ul.list
{
	list-style-type: none;
}
.mdl-layout__header
{
	background-color: black;
}
.mdl-layout__header-row
{
	padding-left: 40px;
}
.menu-list-item:hover
{
	background-color: #ECECEC;
}
.list-last-item
{
	display: flex;
}
.list-last-text
{
	padding-left: 10px;
}
.search-field
{
	display: flex;
}
.top-right
{
	margin-left: auto;
	padding-top: 15px;
}
.material-icons.md-30
{
	font-size: 30px;
}
