.verticalLine 
{
    border-left: thick solid #E0E0E0;
    border-left-width: 2px;
}
.help-verticalLine
{
	border-left: thick solid #fff;
	border-left-width: 3px;

}
.top-field
{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
}
.top-field-text
{
	margin-right: 130px;
	padding-top: 5px;
	font-size: 25px;
}
.search-button-card
{
	width: 60px;
	min-height: 26px;
	background-color: #4285F4;
	margin: 0px;
}
.search-icon
{
	color: #fff;
	padding-left: 20px;
	padding-top: 2px;

}
.mdl-card
{
   width: 100%;
   border-radius: 0px;
}
.card
{
   padding: 50px;
}
.search-card
{
	width: 500px;
	min-height: 26px;
	margin: 0px;
	border-color: #616161;
	border-style: solid;
	border-width: 1px;

}
.mdl-textfield__input
{
	border-bottom: 0px;
	padding-left: 10px;
}
.mdl-textfield
{
	padding: 0px;
	width: 500px;
}
.search-button-card
{
	width: 60px;
	min-height: 26px;
	background-color: #4285F4;
	margin: 0px;
}
.search-icon
{
	color: #fff;
	padding-left: 20px;
	padding-top: 2px;
}
.top-bar
{
	display: flex;
	color: #fff;
	padding-top: 20px;	
}
.top-left-text
{
	padding-left: 70px;
	font-size: 20px;
}
.top-bar-right
{
	margin-left: auto;
	display: flex;
	padding-right: 20px;
	font-size: 15px;
}
.top-bar-left1
{
	padding-top: 2px;
}
.top-bar-left
{
	display: flex;
}
.top-bar-left2
{
	padding-top: 2px;
}
.color
{
	background-color: #4285F4;
	height: 350px;
}
.icon
{
	padding-left: 10px;
	padding-right: 50px;
}
.arrow-icon
{
	margin-left: auto;
}
.ul-list
{
	list-style-type: none;
    padding-left: 0px;
}
.help
{
	padding-left: 10px;
	line-height: 35px;
	font-weight: bold;
	font-size: 13px;
	
}
.help-text
{
	padding-left: 15px;
	line-height: 35px;
	font-size: 13px;
	
}
.help-grid
{
	padding-left: 20px;
	color: #fff;
}
.card-text
{
	display: flex;
	color: #4285F4;
}
.drop-down
{
	display: flex;
	color: #4285F4;
}
.drop-down-text
{
	padding-left: 20px;
}
.card-middle-text
{
	font-size: 14px;
}