.top-bar-left
{
	float: left;
	margin-right: 9px;
	font-size: 35px;
	margin-top: 5px;
}
.info-text
{
	display: inline-block;
	color: #495358;
	padding-left: 6px;
}
.from-text
{
	font-size: 14px;
	font-weight: bold;	
	padding-top: 5px;
}
.date-and-time
{
	color: #919499;
}
.button-align
{
	float: right;
	color: #7C7C7C;
}
.image-wrapper
{
	height: 300px;
}
.timeline-card
{
	width: 100%;	
	font-size: 12px;
	padding: 12px;
	max-height: 600px;
}
.material-icons.md-39
{
	font-size: 39px;
}
.mdl-card
{
	min-height: 0px;
}

.material-icons
{
	color: rgba(0,0,0,.54);
}
.description
{
	padding-bottom: 20px;
	font-size: 14px;
	padding-left: 5px;
}
.timeline-button
{
	height: 48px;
	border-radius: 0%;
}
.container-text
{
	zoom:1;
	font-size: 14px;
	font-weight: normal;
    line-height: 1.38;
    overflow: hidden
    direction: ltr;
    margin-bottom: 0;
    padding-left: 5px;
}
.bookmark-description
{
	padding-left: 30%;
	margin-left: 10px;
	position: absolute;
	padding-top: 10px;
}
.bookmark-image-text
{
	font-size: 16px;
}
.description-text
{
	font-weight: 500;
}
.info-icon
{
	padding-bottom: 25px;
    padding-right: 5px;
    font-size: 20px;
}
.info-middle-icon
{
	font-size: 14px;
}
.image-card
{
  width: 100%;
  padding: 0px;
  margin-top: 5px;
  font-size: 12px;
}
.bookmark-container
{
  position: relative; 
  height: 170px;
  color: #495358;
}
.bookmark-image
{
  width:30%;
  float: left;
  height: 170px;
}
.image-tag
 {
  width: 100%;
  height: 100%; 
}
.bookmark-image-domain
{
  margin-left: 10px;
  padding-left: 30%;
  position: absolute;
  bottom: 10px;
}
.comment-icon
{
	padding-left: 10px;
}
.link-text
{
	text-decoration: none;
	color: #495358;
}
.container-link
{  
	padding-left: 5px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.container-button
{
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.file-button
{
	color: #495358;
}
.icon
{
	color: #fff;
	padding-top: 8px;
}
.description-link
{
	padding-top: 10px;
	padding-bottom: 0;
}
.navbar-icon
{
	color: #fff;
}
ul
{
	max-width: 100px;
	margin : 0 auto;
}
.menu-list
{
	background-color: #ECECEC;
}
li
{
	padding-left: 20px;
	font-weight: bold;
	margin-top: 15px;
}
.menu-list-item:hover
{
	background-color: #ECECEC;
}