.left-text
{
	text-align: center;
	font-size: 17px;
	font-weight: 600;
	color: #757575;
}
.left-top-text
{
	text-align: center;
	font-size: 17px;
	font-weight: 600;
	color: #757575;
	padding-right: 60px;	
}
.faq-middle-text
{
	border-left: solid 3px #c0ebf1;
	padding-left: 30px;
	line-height: 28px;
	color: #00bcd4;
	font-size: 16px;

}
.faq-grid
{
	margin-top: 30px;
}
a
{
	color: #00bcd4;
	text-decoration: none;
}
.bottom-top-text
{
	color: #757575;
	font-weight: 600;
	font-size: 17px;
	padding-bottom: 30px;
}
